@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

@import "./util/vars";

body {
  font-family: "Pangolin", sans-serif;
  color: $text-color;
  background-color: $background-color;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
  margin: 0;
}
